{% include 'layout/basic.html.twig'%}
<body>
    <div class="container">
        {{ paginationResult }}
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                <tbody>
                <tr>
                    {% for result in results %}
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
                <td>{{ result.id|e }}</td>
                <td>{{ result.title|e }}</td>
                <td>{{ result.description|e }}</td>
                <td>{{ result.date_created|e}}</td>
                <td>
                    <a href='#' data-custom-value="{{result.id}}" class="update">Edit</a>
                    <a href="#" data-custom-value="{{result.id}}" class="delete">Delete</a>
                </td>
                    {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

{% include 'partials/footer.html.twig'%}